# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de entorno
.env

# Logs
*.log

# Credenciales de Firebase (NO SUBIR A GIT)
serviceAccountKey.json
firebase-service-account.json
config/serviceAccountKey.json
*.json
!package.json
!package-lock.json
node_modules
