version: '3.8'
services:
  app:
    build: .
    container_name: agromarket_app
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - PORT=5001
